node_modules/
coverage/
log/
email_templates/test/
.env
dist
.DS_Store
coverage
globalConfig.json
.idea
yarn-error.log
server/node_modules
client/node_modules
test/node_modules
tets/bundle.
*.iml
*/**/.terraform*
*/**/terraform.tfstate*
terraform/creds/*
example/cache
example/**/.editor
example/**/cache
example/**/deploy
example/.js
example/.js.map
*/**/.kube
deployment/img/cache
docs
client/docs
*/**/wle-apitoken.json